body{
  display: flex;
  justify-content: center;
}
form{
  border: 2px solid black;
 position: relative;
 top: 50%;
}
div{
  padding: 10px 1cm 10px 1cm;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}